{% extends "base_generic.html" %}

{% block login_attemp %}
<div class="container text-center"  >
<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4 border" style="background: white"><br>
{% load static %} <img src="{% static 'innovenlogo2018.png' %}" class="img-fluid" alt="Responsive image" style="max-height: 40px">
{#<h2>InnoVen Capital Team</h2>#}
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form class="form-signin" method="post" action="{% url 'login' %}">
{% csrf_token %}

<div style="padding:10px 0px">
    <label for="id_username" class="sr-only">Email address</label>
<input class="form-control" placeholder="Email address" type="text" name="username" required="" autofocus="" id="id_username">

</div>
<div style="padding:10px 0px">
<label for="id_password" class="sr-only">Password:</label>
 <input type="password" name="password" class="form-control" placeholder="Password" required="" id="id_password">
</div>

<div style="padding:10px 0px">
  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
</div>
</div>
{% endblock %}