{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><center><h2> Engagement Level </h2> </center></div>
{#    <div class="col-sm-3" ><center> <h4 class="btn btn-primary">  <a href="{% url 'project_create' %}" style="color: white"> Add</a></h4></center></div>#}
 </div>
 <div class="row">

     <div class="col-sm-3 ">
         <h4 align="center">Level 0</h4>
      {% if project_list0 %}

         <ul class="list-group list-group-flush">
          {% for project in project_list0 %}
          <li class="list-group-item">
           <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> | {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %} | {{project.funding_Round}}
          </li>
        {% endfor %}
        </ul>

      {% else %}
        <p>There are no projects in the Company.</p>
      {% endif %}
     </div>
  <div class="col-sm-3 ">
         <h4 align="center">Level 1</h4>
      {% if project_list1 %}

         <ul class="list-group list-group-flush card">
          {% for project in project_list1 %}
           <li class="list-group-item">
           <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> | {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %} | {{project.funding_Round}}
          </li>
        {% endfor %}
        </ul>

      {% else %}
        <p>There are no projects in the Company.</p>
      {% endif %}
     </div>

 <div class="col-sm-3 ">
      
    <h4 align="center">Level 2</h4>
     {% if project_list2 %}
         <ul class="list-group list-group-flush card">
          {% for project in project_list2 %}
          <li class="list-group-item">
           <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> | {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %} | {{project.funding_Round}}
          </li>
        {% endfor %}
        </ul>

      {% else %}
        <p>There are no projects in the Company.</p>
      {% endif %}
     </div>
 <div class="col-sm-3 ">
   
    <h4 align="center">Level 3</h4>
        {% if project_list3 %}
         <ul class="list-group list-group-flush card">
          {% for project in project_list3 %}
          <li class="list-group-item">
           <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> | {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %} | {{project.funding_Round}}
          </li>
        {% endfor %}
        </ul>

      {% else %}
        <p>There are no projects in the Company.</p>
      {% endif %}
     </div>

</div>
    <hr>


<br><br>

{% endblock %}
