{% extends "base_generic.html" %}

{% block content %}

<h1>{{ investor }} </h1>
<p>{{investor.fund_size}}</p>
<p>{{investor.description}}</p>

<div class="row">
<div class="col-sm-3">
<h4>Active</h4>
<dl>
{% for pcompanies in investor.pcompanies_set.all %}
   {% if pcompanies.current_status.name == "Active" %}
  <dt><a href="{% url 'pcompanies_update' pcompanies.pk %}" > {{pcompanies}} </a></dt>
  <dd>{% for partner in pcompanies.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
    {% endif %}
{% endfor %}
{% for project in investor.project_set.all %}
    {% if project.overall_Status.name == "Funded-Full" or project.overall_Status.name == "Funded-Part" %}
  <dt><a href="{% url 'project-detail' project.pk %}">{{project}}</a> </dt>
  <dd>{% for partner in project.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
    {% endif %}
{% endfor %}
</dl>
</div>
<div class="col-sm-3">
<h4>Past</h4>

<dl>
{% for pcompanies in investor.pcompanies_set.all %}
     {% if pcompanies.current_status.name == "Past" %}
  <dt><a href="{% url 'pcompanies_update' pcompanies.pk %}" >{{pcompanies}}</a></dt>
  <dd>{% for partner in pcompanies.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
       {% endif %}
{% endfor %}
{% for project in investor.project_set.all %}
    {% if project.overall_Status.name == "Paid Off" %}
  <dt><a href="{% url 'project-detail' project.pk %}">{{project}}</a> </dt>
  <dd>{% for partner in project.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
    {% endif %}
{% endfor %}
</dl>
</div>
<div class="col-sm-3">
<h4>Lost</h4>

<dl>
{% for pcompanies in investor.pcompanies_set.all %}
      {% if pcompanies.current_status.name == "Lost" %}
  <dt><a href="{% url 'pcompanies_update' pcompanies.pk %}" >{{pcompanies}}</a></dt>
  <dd>{% for partner in pcompanies.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
     {% endif %}
{% endfor %}
{% for project in investor.project_set.all %}
    {% if project.overall_Status.name == "Lost" %}
  <dt><a href="{% url 'project-detail' project.pk %}">{{project}}</a> </dt>
  <dd>{% for partner in project.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
    {% endif %}
{% endfor %}
</dl>
</div>
<div class="col-sm-3">
<h4>Dropped</h4>

<dl>
{% for pcompanies in investor.pcompanies_set.all %}
      {% if pcompanies.current_status.name == "Dropped" %}
  <dt><a href="{% url 'pcompanies_update' pcompanies.pk %}" >{{pcompanies}}</a></dt>
  <dd>{% for partner in pcompanies.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
     {% endif %}
{% endfor %}
{% for project in investor.project_set.all %}
    {% if project.overall_Status.name == "Dropped" %}
  <dt><a href="{% url 'project-detail' project.pk %}">{{project}}</a> </dt>
  <dd>{% for partner in project.partner.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
    {% endif %}
{% endfor %}
</dl>
</div>
</div>

{% if investor.project_set.all %}
<div style="margin-left:20px;margin-top:20px">
<h4>Live Projects</h4>

<dl>
{% for project in investor.project_set.all %}
     {% if project.overall_Status.name == "Active" %}
  <dt><a href="{% url 'project-detail' project.pk %}">{{project}}</a> </dt>
  <dd><strong>Sectors:</strong> {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
{% endif %}
{% endfor %}
</dl>
</div>
{% endif %}
{% if investor.project_set.all %}
<div style="margin-left:20px;margin-top:20px">
<h4>On Hold Projects</h4>

<dl>
{% for project in investor.project_set.all %}
     {% if project.overall_Status.name == "On Hold" %}
  <dt><a href="{% url 'project-detail' project.pk %}">{{project}}</a> </dt>
  <dd><strong>Sectors:</strong> {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
{% endif %}
{% endfor %}
</dl>
</div>
{% endif %}
<div style="margin-left:20px;margin-top:20px">
<h4>Partners</h4>

<dl>
{% for partner in investor.partner_set.all %}
  <dt><a href="{% url 'partner-detail' partner.pk %}">{{partner}}</a> </dt>
  <dd><strong>Sectors:</strong> {% for sector in partner.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
{% endfor %}
</dl>
    <p align="right"><button class="btn btn-primary"><a class="nav-link" href="{% url 'partner_create' %}" style="color: white"> Add Partner </a></button></p>
</div>

{% endblock %}