{% extends "base_generic.html" %}

{% block content %}
  <h2 align="center">{{ partner.name }}</h2>

<p><strong>Fund Name:</strong> <a href="{{ partner.investor.get_absolute_url }}">{{ partner.investor }}</a></p> <!-- author detail link not yet defined -->
  <p> <strong>Designation:</strong> {{ partner.designation }}, {{ partner.location }}</p>
     <p><strong>Focus:</strong> {% for focus in partner.sector.all %} {{ focus }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>No. of Investments:</strong> {{ partner.investments }}</p>
    <div class="row">
<div class="col-4">
<h4>Active</h4>
<dl>
{% for pcompanies in partner.pcompanies_set.all %}
   {% if pcompanies.current_status.name == "Active" %}
  <dt><a href="{% url 'pcompanies_update' pcompanies.pk %}" > {{pcompanies}} </a></dt>
  <dd>{% for partner in pcompanies.investor.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
    {% endif %}
{% endfor %}
</dl>
</div>
<div class="col-4">
<h4>Past</h4>

<dl>
{% for pcompanies in partner.pcompanies_set.all %}
     {% if pcompanies.current_status.name == "Past" %}
  <dt><a href="{% url 'pcompanies_update' pcompanies.pk %}" >{{pcompanies}}</a></dt>
  <dd>{% for partner in pcompanies.investor.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
       {% endif %}
{% endfor %}
</dl>
</div>
<div class="col-4">
<h4>Lost</h4>

<dl>
{% for pcompanies in partner.pcompanies_set.all %}
      {% if pcompanies.current_status.name == "Lost" %}
  <dt><a href="{% url 'pcompanies_update' pcompanies.pk %}" >{{pcompanies}}</a></dt>
  <dd>{% for partner in pcompanies.investor.all %}<a href="{% url 'partner-detail' partner.pk %}" style="color: black;">{{ partner }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</dd>
     {% endif %}
{% endfor %}
</dl>
</div>
</div>

{% if partner.project_set.all %}
     <div style="margin-left:20px;margin-top:20px">
<h4 align="center">Live Projects</h4>

<dl>

{% for project in partner.project_set.all %}
  <dt><a href="{% url 'project-detail' project.pk %}">{{project}}</a> </dt>
  <dd><strong>Sectors:</strong> {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
{% endfor %}
</dl>
</div>
    {% endif %}
    <br>
   <p align="right"><button class="btn btn-primary"><a href="{% url 'partner_update' partner.pk %}" style="color: white">Update</a></button></p>


{% endblock %}