{% extends "base_generic.html" %}

{% block content %}

  <center><h1>{{ project.name }}  </h1></center>



<p>
<div class="row">
    <div class="col-4">
        <strong>Date:</strong> {{ project.date }}, {{ project.city }}
    </div>
    <div class="col-4">
        <strong>Sectors:</strong> {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
    <div class="col-4">
            <strong>  Engagement:</strong> {{ project.engagement }}
    </div>
</div>
</p>
    <p><strong>Last Updated:</strong> {{ project.updated_at}} | Overall Status:<strong> {{ project.overall_Status }}</strong></p>

      <p><strong>Competitors:</strong>  {% for competitor in project.competitor.all %} {{ competitor }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      <p><strong>Investors:</strong>  {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %}
      {% if project.if_other_investor %}
    , {{ project.if_other_investor }}
{% else %} {% endif %}
      </p>
      <p><strong>Last Funding:</strong> {{ project.funding_Round }}</p> <!-- author detail link not yet defined -->
      <p><strong>Business Description:</strong> {{ project.description }}</p>
      <p><strong>Members:</strong> {% for member in project.member.all %} {{ member }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% if project.amount %}
     <p><strong>Deal Amount:</strong> {{ project.amount }}</p>
{% else %} {% endif %}
<dl > <strong align="center">Documents:</strong>
{% for doc in project.doc_set.all %}
    <li><a href="{{ doc.document.url }}" style="color: #0b2e13">{{ doc}}</a></li>
{% endfor %}
<a href="{% url 'doc_nw' %}" >Add Document</a>
</dl>

<dl > <h3 align="center">Comments</h3>
{% for dialouge in project.dialouge_set.all %}
    <dt>{{ dialouge.member }} ({{dialouge.date}}):</dt>
      <dd>{{dialouge}} <a href="{% url 'dialouge_delete' dialouge.pk %}" >Delete</a> </dd>

{% endfor %}
<a href="{% url 'dialouge_nw' %}">Add comment</a>
</dl>

<p align="right"><button class="btn btn-primary" align="right"><a href="{% url 'project_update' project.pk %}" style="color: white">Edit Details</a></button></p>


{% endblock %}
