{% extends "base_generic.html" %}

{% block content %}

  <center><h1>{{ project.name }}  </h1></center>

<div class="card" style="padding: 20px">

<p>
<div class="row">
    <div class="col-4">
        <strong>Date:</strong> {{ project.date }}, {{ project.city }}
    </div>
    <div class="col-4">
        <strong>Sectors:</strong> {% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
    <div class="col-4">
            <strong>  Engagement:</strong> {{ project.engagement }} | Overall Status:<strong> {{ project.overall_Status }}</strong>
    </div>
</div>
</p>
    <p><strong>Last Updated:</strong> {{ project.updated_at}} | <strong>Equity LTD:</strong>  {{ project.equity_LTD }} MM $ </p>
    <p><strong>Business Description:</strong> {{ project.description }}</p>
{% if project.loan_Amount %}
     <p><strong>Loan Amount:</strong> {{ project.loan_Amount }}</p>
{% else %} {% endif %}
      <p><strong>Last Funding:</strong> {{ project.funding_Round }}. Investors are {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %}
      {% if project.if_other_investor %}
    , {{ project.if_other_investor }}
{% else %} {% endif %}
      </p>

    <p><strong> Partners </strong> {% for partner in project.partner.all %}<a href="{% url 'partner-detail' partner.pk %}"> {{ partner }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      <p><strong>Competitors:</strong>  {% for competitor in project.competitor.all %} {{ competitor }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      <p><strong>Members:</strong> {% for member in project.member.all %} {{ member }}, {% endfor %}
      Director: {{ project.director }}
      </p>


<dl > <strong align="center">Documents:</strong> <a href="{% url 'doc_nw' %}" >Add Document</a>
{% for doc in project.doc_set.all %}
    <li><a href="{{ doc.document.url }}" style="color: #0b2e13">{{ doc}}</a></li>
{% endfor %}

</dl>
<p align="right"><button class="btn btn-primary" align="right"><a href="{% url 'project_update' project.pk %}" style="color: white">Edit Details</a></button></p>
</div>
    <hr>
<p align="center"><span style="font-size: 1.17em; "><strong>Comments: </strong></span> <a href="{% url 'dialouge_nw' %}">Add comment</a></p>
<dl>
    {% for dialouge in project.dialouge_set.all %}
    <dt>{{ dialouge.author.first_name }} ({{dialouge.date}}):</dt>
    <dd>{{dialouge}} {% if  request.user.username == dialouge.author.username %}   <a href="{% url 'dialouge_delete' dialouge.pk %}" >Delete</a>{% endif %} </dd>

{% endfor %}

</dl>

<div class="container"></div>
 <hr>
<p align="center"><span style="font-size: 1.17em; "><strong>Deal Progress: </strong></span> <a href="{% url 'ds_nw' %}">Add Deal Stage</a></p>
<dl>

    {% for DSdate in project.dsdate_set.all %}
    <dt>{{ DSdate.dealstage.name }} ({{DSdate.date}})</dt>

{% endfor %}

</dl>

<div class="container"></div>


{% endblock %}
