{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><center><h2> Pipeline  </h2> </center></div>
    <div class="col-sm-3" ><center> <h4 class="btn btn-primary">  <a href="{% url 'project_create' %}" style="color: white"> Add</a></h4></center></div>
 </div>
<div class="table-responsive-xl">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Deal Stage</th>
      <th scope="col">Closure Month</th>
      <th scope="col">Amount</th>
      <th scope="col">Director</th>
      <th scope="col">Next Step</th>
      <th scope="col">Underwriter</th>
      <th scope="col">Investors</th>

    </tr>
  </thead>
  <tbody>
  {% for project in project_list %}
       {% if project.dealstage.name == "Documentation"  %}
    <tr>
      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td>{{ project.dealstage }}</td>
      <td>{{ project.closure_month }}</td>
      <td>{{ project.loan_Amount }}</td>
      <td>{{ project.director }}</td>
      <td> <a href="{% url 'projectn_update' project.pk %}"  target="_blank" >{{ project.next_step }}</a></td>
      <td>{% for member in project.member.all %} {{ member }}{% if not forloop.last %}, {% endif %} {% endfor %} </td>
      <td> {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %} {% if project.if_other_investor %} {{ project.if_other_investor }} {% endif %}</td>

    </tr>
       {% endif %}
  {% endfor %}
  {% for project in project_list %}
       {% if project.dealstage.name == "TS Closure"  %}
    <tr>
      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td>{{ project.dealstage }}</td>
      <td>{{ project.closure_month }}</td>
      <td>{{ project.loan_Amount }}</td>
      <td>{{ project.director }}</td>
      <td> <a href="{% url 'projectn_update' project.pk %}"  target="_blank" >{{ project.next_step }}</a></td>
      <td>{% for member in project.member.all %} {{ member }}{% if not forloop.last %}, {% endif %} {% endfor %} </td>
      <td> {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %} {% if project.if_other_investor %} {{ project.if_other_investor }} {% endif %}</td>

    </tr>
       {% endif %}
  {% endfor %}
  {% for project in project_list %}
       {% if project.dealstage.name == "TS Issued"  %}
    <tr>
      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td>{{ project.dealstage }}</td>
      <td>{{ project.closure_month }}</td>
      <td>{{ project.loan_Amount }}</td>
      <td>{{ project.director }}</td>
      <td> <a href="{% url 'projectn_update' project.pk %}"  target="_blank" >{{ project.next_step }}</a></td>
      <td>{% for member in project.member.all %} {{ member }}{% if not forloop.last %}, {% endif %} {% endfor %} </td>
      <td> {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %} {% if project.if_other_investor %} {{ project.if_other_investor }} {% endif %}</td>

    </tr>
       {% endif %}
  {% endfor %}
  {% for project in project_list %}
       {% if project.dealstage.name == "Underwriting Stage"  %}
    <tr>
      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td>{{ project.dealstage }}</td>
      <td>{{ project.closure_month }}</td>
      <td>{{ project.loan_Amount }}</td>
      <td>{{ project.director }}</td>
      <td> <a href="{% url 'projectn_update' project.pk %}"  target="_blank" >{{ project.next_step }}</a></td>
      <td>{% for member in project.member.all %} {{ member }}{% if not forloop.last %}, {% endif %} {% endfor %} </td>
      <td> {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %} {% if project.if_other_investor %} {{ project.if_other_investor }} {% endif %}</td>

    </tr>
       {% endif %}
  {% endfor %}
  {% for project in project_list %}
       {% if project.dealstage.name == "Prospect"  %}
    <tr>
      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td>{{ project.dealstage }}</td>
      <td>{{ project.closure_month }}</td>
      <td>{{ project.loan_Amount }}</td>
      <td>{{ project.director }}</td>
      <td> <a href="{% url 'projectn_update' project.pk %}"  target="_blank" >{{ project.next_step }}</a></td>
      <td>{% for member in project.member.all %} {{ member }}{% if not forloop.last %}, {% endif %} {% endfor %} </td>
      <td> {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %} {% if project.if_other_investor %} {{ project.if_other_investor }} {% endif %}</td>

    </tr>
       {% endif %}
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}