{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><center><h2> Early Stage Projects </h2> </center></div>
    <div class="col-sm-3" ><center> <h4 class="btn btn-primary">  <a href="{% url 'project_create' %}" style="color: white"> Add</a></h4></center></div>
 </div>
  {% if project_list %}
<div class="table-responsive-xl">
<table class="table">
     <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Sector</th>
      <th scope="col">Level</th>
      <th scope="col">Member</th>
      <th scope="col">Director</th>
      <th scope="col">Next Step</th>
      <th scope="col">Investors</th>

    </tr>
  </thead>
     <tbody>
      {% for project in project_list %}
       <tr>
      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td>{% for sector in project.sector.all %} {{ sector }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      <td>{{ project.engagement }}</td>
      <td>{% for member in project.member.all %} {{ member }}{% if not forloop.last %}, {% endif %} {% endfor %} </td>
      <td>{{ project.director }}</td>
      <td> <a href="{% url 'projectn_update' project.pk %}"  target="_blank" >{{ project.next_step }}</a></td>

      <td> {% for investor in project.investor.all %} {{ investor }}{% if not forloop.last %}, {% endif %}{% endfor %} {% if project.if_other_investor %} {{ project.if_other_investor }} {% endif %}</td>

    </tr>
    {% endfor %}
     </tbody>
</table>
</div>
  {% else %}
    <p>There are no projects in the Company.</p>
  {% endif %}

{% endblock %}